<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hong.service.user.mapper.SysUserMapper">

    <select id="findPageBreakByCondition" parameterType="com.hong.service.user.vo.UserConditionVO"
            resultType="com.hong.service.user.entity.SysUser"
    >
        SELECT
        s.*
        FROM
        sys_user s
        WHERE
        1 = 1
        <if test="keywords != null and keywords != '' ">
            AND
            (
            s.nickname LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            s.mobile LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            s.username LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            s.email LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%') or
            s.qq LIKE CONCAT('%',#{keywords , jdbcType=VARCHAR},'%')
            )
        </if>
        <!-- 查询用户信息 -->
        <if test="user != null">
            <if test="user.id!=null">
                AND s.id = #{user.id}
            </if>
            <if test="user.gender!=null">
                AND s.gender = #{user.gender}
            </if>
            <if test="user.userType!=null">
                AND s.user_type = #{user.userType}
            </if>
            <if test="user.username!=null">
                AND s.username = #{user.username}
            </if>
            <if test="user.password!=null">
                AND s.password = #{user.password}
            </if>
            <if test="user.lastLoginIp!=null">
                AND s.last_login_ip = #{user.lastLoginIp}
            </if>
            <if test="user.lastLoginTime!=null">
                AND s.last_login_time = #{user.lastLoginTime}
            </if>
        </if>
        ORDER BY s.id DESC
    </select>

    <select id="listByRoleId" parameterType="Long" resultType="com.hong.service.user.entity.SysUser">
		SELECT
			s.id,
			s.username,
			s.nickname
		FROM
			sys_user s
		INNER JOIN sys_user_role sur ON  sur.user_id = s.id
		WHERE
			sur.role_id = #{roleId}
	</select>

</mapper>

